In [6]:
import pandas as pd
import numpy as np

In [77]:
import numpy as np
import torch
from torch import nn
from torch.autograd import Variable
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from keras.utils import to_categorical
import torch.nn.functional as F

In [78]:
class Model(nn.Module):
    def __init__(self, input_dim):
        super(Model, self).__init__()
        self.layer1 = nn.Linear(input_dim,50)
        self.layer2 = nn.Linear(50, 20)
        self.layer3 = nn.Linear(20, 3)
        
    def forward(self, x):
        x = F.relu(self.layer1(x))
        x = F.relu(self.layer2(x))
        x = F.softmax(self.layer3(x)) # To check with the loss function
        return x

In [79]:
df=pd.read_csv('tablemodel.csv')
df.head(1)

,source,database,table,column,value1,value2,value3,value4,value5,category
0,mdb,campaign,cmp_daily,social,99249099,75878933,7891291,34705467,3457655,ssn

In [80]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
le =LabelEncoder()
df1 = df[['source', 'database','table','column','category']].apply(le.fit_transform)
df1

    source  database  table  column  category
0        1         0      0       4         1
1        1         1      1       5         1
2        1         0      0       4         1
3        1         1      1       4         1
4        0         2      2       3         1
5        1         0      0       4         1
6        1         0      0       4         1
7        0         2      2       3         1
8        1         1      1       5         1
9        1         0      0       0         0
10       1         1      1       1         0
11       1         0      0       0         0
12       1         1      1       1         0
13       0         2      2       2         0
14       1         0      0       0         0
15       1         0      0       0         0
16       0         2      2       2         0
17       1         1      1       1         0

In [81]:
df3=df.drop(columns=['source','database','table','column','category'])

In [82]:
df3

,value1,value2,value3,value4,value5
0,99249099,75878933,7891291,34705467,3457655
1,98249099,78878933,7891290,34715467,13457655
2,97249099,73878933,7891292,34725467,23457655
3,96249099,72878933,7891293,34735467,33457655
4,95249099,71878933,7891294,34745467,43457655
5,94249099,74878933,7891295,34755467,53457655
6,93249099,77878933,7891296,34765467,63457655
7,92249099,76878933,7891297,34775467,73457655
8,91249099,70878933,7891298,34785467,83457655
9,4111111111111111,5500000000000004,340000000000009,4111111111111111,30000000000004
10,4111111111111121,5500000000000014,340000000000019,4111111111111121,30000000000004
11,4111111111111131,5500000000000024,340000000000029,4111111111111131,30000000000004
12,4111111111111141,5500000000000034,340000000000039,4111111111111141,30000000000004
13,4111111111111151,5500000000000044,340000000000049,4111111111111151,30000000000004
14,4111111111111161,5500000000000054,340000000000059,4111111111111161,30000000000004
15,4111111111111171,5500000000000064,340000000000069,4111111111111171,30000000000004
16,4111111111111181,5500000000000074,340000000000079,4111111111111181,30000000000004
17,4111111111111191,5500000000000084,340000000000089,4111111111111191,30000000000004

In [88]:
df=pd.concat([df1,df3],axis=1)
df=df[['source','database','table','column','value1','value2','value3','value4','value5','category']]
df

,source,database,table,column,value1,value2,value3,value4,value5,category
0,1,0,0,4,99249099,75878933,7891291,34705467,3457655,1
1,1,1,1,5,98249099,78878933,7891290,34715467,13457655,1
2,1,0,0,4,97249099,73878933,7891292,34725467,23457655,1
3,1,1,1,4,96249099,72878933,7891293,34735467,33457655,1
4,0,2,2,3,95249099,71878933,7891294,34745467,43457655,1
5,1,0,0,4,94249099,74878933,7891295,34755467,53457655,1
6,1,0,0,4,93249099,77878933,7891296,34765467,63457655,1
7,0,2,2,3,92249099,76878933,7891297,34775467,73457655,1
8,1,1,1,5,91249099,70878933,7891298,34785467,83457655,1
9,1,0,0,0,4111111111111111,5500000000000004,340000000000009,4111111111111111,30000000000004,0
10,1,1,1,1,4111111111111121,5500000000000014,340000000000019,4111111111111121,30000000000004,0
11,1,0,0,0,4111111111111131,5500000000000024,340000000000029,4111111111111131,30000000000004,0
12,1,1,1,1,4111111111111141,5500000000000034,340000000000039,4111111111111141,30000000000004,0
13,0,2,2,2,4111111111111151,5500000000000044,340000000000049,4111111111111151,30000000000004,0
14,1,0,0,0,4111111111111161,5500000000000054,340000000000059,4111111111111161,30000000000004,0
15,1,0,0,0,4111111111111171,5500000000000064,340000000000069,4111111111111171,30000000000004,0
16,0,2,2,2,4111111111111181,5500000000000074,340000000000079,4111111111111181,30000000000004,0
17,1,1,1,1,4111111111111191,5500000000000084,340000000000089,4111111111111191,30000000000004,0

In [89]:
target=df.columns[-1:]
features= df.drop(target, axis = 1)

labels=df.drop(features, axis = 1)

In [90]:
features

,source,database,table,column,value1,value2,value3,value4,value5
0,1,0,0,4,99249099,75878933,7891291,34705467,3457655
1,1,1,1,5,98249099,78878933,7891290,34715467,13457655
2,1,0,0,4,97249099,73878933,7891292,34725467,23457655
3,1,1,1,4,96249099,72878933,7891293,34735467,33457655
4,0,2,2,3,95249099,71878933,7891294,34745467,43457655
5,1,0,0,4,94249099,74878933,7891295,34755467,53457655
6,1,0,0,4,93249099,77878933,7891296,34765467,63457655
7,0,2,2,3,92249099,76878933,7891297,34775467,73457655
8,1,1,1,5,91249099,70878933,7891298,34785467,83457655
9,1,0,0,0,4111111111111111,5500000000000004,340000000000009,4111111111111111,30000000000004
10,1,1,1,1,4111111111111121,5500000000000014,340000000000019,4111111111111121,30000000000004
11,1,0,0,0,4111111111111131,5500000000000024,340000000000029,4111111111111131,30000000000004
12,1,1,1,1,4111111111111141,5500000000000034,340000000000039,4111111111111141,30000000000004
13,0,2,2,2,4111111111111151,5500000000000044,340000000000049,4111111111111151,30000000000004
14,1,0,0,0,4111111111111161,5500000000000054,340000000000059,4111111111111161,30000000000004
15,1,0,0,0,4111111111111171,5500000000000064,340000000000069,4111111111111171,30000000000004
16,0,2,2,2,4111111111111181,5500000000000074,340000000000079,4111111111111181,30000000000004
17,1,1,1,1,4111111111111191,5500000000000084,340000000000089,4111111111111191,30000000000004

In [91]:
labels

    category
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   source    18 non-null     int64
 1   database  18 non-null     int64
 2   table     18 non-null     int64
 3   column    18 non-null     int64
 4   value1    18 non-null     int64
 5   value2    18 non-null     int64
 6   value3    18 non-null     int64
 7   value4    18 non-null     int64
 8   value5    18 non-null     int64
 9   category  18 non-null     int64
dtypes: int64(10)
memory usage: 1.5 KB

In [118]:
features_train,features_test, labels_train, labels_test = train_test_split(features, labels, random_state=42, shuffle=True)

In [142]:
features_train=np.array(features_train)
features_test=np.array(features_test)
labels_train=np.array(labels_train)
labels_test=np.array(labels_test)
type(features_train)
type(features_test)
labels_train.flatten().ndim
# type(labels_test)

1

In [143]:
# Training
model = Model(features_train.shape[1])
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)
loss_fn = nn.CrossEntropyLoss()
epochs = 100

def print_(loss):
    print ("The loss calculated: ", loss)

In [144]:
# Not using dataloader
x_train, y_train = Variable(torch.from_numpy(features_train)).float(), Variable(torch.from_numpy(labels_train.flatten())).long()
for epoch in range(1, epochs+1):
    print ("Epoch #",epoch)
    y_pred = model(x_train)
    loss = loss_fn(y_pred, y_train)
    print_(loss.item())
    
    # Zero gradients
    optimizer.zero_grad()
    loss.backward() # Gradients
    optimizer.step() # Update

Epoch # 1
The loss calculated:  1.4745217561721802
Epoch # 2
The loss calculated:  1.4745217561721802
Epoch # 3
The loss calculated:  1.4745217561721802
Epoch # 4
The loss calculated:  1.4745217561721802
Epoch # 5
The loss calculated:  1.4745217561721802
Epoch # 6
The loss calculated:  1.4745217561721802
Epoch # 7
The loss calculated:  1.4745217561721802
Epoch # 8
The loss calculated:  1.4745217561721802
Epoch # 9
The loss calculated:  1.4745217561721802
Epoch # 10
The loss calculated:  1.4745217561721802
Epoch # 11
The loss calculated:  1.4745217561721802
Epoch # 12
The loss calculated:  1.4745217561721802
Epoch # 13
The loss calculated:  1.4745217561721802
Epoch # 14
The loss calculated:  1.4745217561721802
Epoch # 15
The loss calculated:  1.4745217561721802
Epoch # 16
The loss calculated:  1.4745217561721802
Epoch # 17
The loss calculated:  1.4745217561721802
Epoch # 18
The loss calculated:  1.4745217561721802
Epoch # 19
The loss calculated:  1.4745217561721802
Epoch # 20
The loss calculated:  1.4745217561721802
Epoch # 21
The loss calculated:  1.4745217561721802
Epoch # 22
The loss calculated:  1.4745217561721802
Epoch # 23
The loss calculated:  1.4745217561721802
Epoch # 24
The loss calculated:  1.4745217561721802
Epoch # 25
The loss calculated:  1.4745217561721802
Epoch # 26
The loss calculated:  1.4745217561721802
Epoch # 27
The loss calculated:  1.4745217561721802
Epoch # 28
The loss calculated:  1.4745217561721802
Epoch # 29
The loss calculated:  1.4745217561721802
Epoch # 30
The loss calculated:  1.4745217561721802
Epoch # 31
The loss calculated:  1.4745217561721802
Epoch # 32
The loss calculated:  1.4745217561721802
Epoch # 33
The loss calculated:  1.4745217561721802
Epoch # 34
The loss calculated:  1.4745217561721802
Epoch # 35
The loss calculated:  1.4745217561721802
Epoch # 36
The loss calculated:  1.4745217561721802
Epoch # 37
The loss calculated:  1.4745217561721802
Epoch # 38
The loss calculated:  1.4745217561721802
Epoch # 39
The loss calculated:  1.4745217561721802
Epoch # 40
The loss calculated:  1.4745217561721802
Epoch # 41
The loss calculated:  1.4745217561721802
Epoch # 42
The loss calculated:  1.4745217561721802
Epoch # 43
The loss calculated:  1.4745217561721802
Epoch # 44
The loss calculated:  1.4745217561721802
Epoch # 45
The loss calculated:  1.4745217561721802
Epoch # 46
The loss calculated:  1.4745217561721802
Epoch # 47
The loss calculated:  1.4745217561721802
Epoch # 48
The loss calculated:  1.4745217561721802
Epoch # 49
The loss calculated:  1.4745217561721802
Epoch # 50
The loss calculated:  1.4745217561721802
Epoch # 51
The loss calculated:  1.4745217561721802
Epoch # 52
The loss calculated:  1.4745217561721802
Epoch # 53
The loss calculated:  1.4745217561721802
Epoch # 54
The loss calculated:  1.4745217561721802
Epoch # 55
The loss calculated:  1.4745217561721802
Epoch # 56
The loss calculated:  1.4745217561721802
Epoch # 57
The loss calculated:  1.4745217561721802
Epoch # 58
The loss calculated:  1.4745217561721802
Epoch # 59
The loss calculated:  1.4745217561721802
Epoch # 60
The loss calculated:  1.4745217561721802
Epoch # 61
The loss calculated:  1.4745217561721802
Epoch # 62
The loss calculated:  1.4745217561721802
Epoch # 63
The loss calculated:  1.4745217561721802
Epoch # 64
The loss calculated:  1.4745217561721802
Epoch # 65
The loss calculated:  1.4745217561721802
Epoch # 66
The loss calculated:  1.4745217561721802
Epoch # 67
The loss calculated:  1.4745217561721802
Epoch # 68
The loss calculated:  1.4745217561721802
Epoch # 69
The loss calculated:  1.4745217561721802
Epoch # 70
The loss calculated:  1.4745217561721802
Epoch # 71
The loss calculated:  1.4745217561721802
Epoch # 72
The loss calculated:  1.4745217561721802
Epoch # 73
The loss calculated:  1.4745217561721802
Epoch # 74
The loss calculated:  1.4745217561721802
Epoch # 75
The loss calculated:  1.4745217561721802
Epoch # 76
The loss calculated:  1.4745217561721802
Epoch # 77
The loss calculated:  1.4745217561721802
Epoch # 78
The loss calculated:  1.4745217561721802
Epoch # 79
The loss calculated:  1.4745217561721802
Epoch # 80
The loss calculated:  1.4745217561721802
Epoch # 81
The loss calculated:  1.4745217561721802
Epoch # 82
The loss calculated:  1.4745217561721802
Epoch # 83
The loss calculated:  1.4745217561721802
Epoch # 84
The loss calculated:  1.4745217561721802
Epoch # 85
The loss calculated:  1.4745217561721802
Epoch # 86
The loss calculated:  1.4745217561721802
Epoch # 87
The loss calculated:  1.4745217561721802
Epoch # 88
The loss calculated:  1.4745217561721802
Epoch # 89
The loss calculated:  1.4745217561721802
Epoch # 90
The loss calculated:  1.4745217561721802
Epoch # 91
The loss calculated:  1.4745217561721802
Epoch # 92
The loss calculated:  1.4745217561721802
Epoch # 93
The loss calculated:  1.4745217561721802
Epoch # 94
The loss calculated:  1.4745217561721802
Epoch # 95
The loss calculated:  1.4745217561721802
Epoch # 96
The loss calculated:  1.4745217561721802
Epoch # 97
The loss calculated:  1.4745217561721802
Epoch # 98
The loss calculated:  1.4745217561721802
Epoch # 99
The loss calculated:  1.4745217561721802
Epoch # 100
The loss calculated:  1.4745217561721802

<ipython-input-78-a19cfe637cdc>:11: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  x = F.softmax(self.layer3(x)) # To check with the loss function

In [145]:
df

,source,database,table,column,value1,value2,value3,value4,value5,category
0,1,0,0,4,99249099,75878933,7891291,34705467,3457655,1
1,1,1,1,5,98249099,78878933,7891290,34715467,13457655,1
2,1,0,0,4,97249099,73878933,7891292,34725467,23457655,1
3,1,1,1,4,96249099,72878933,7891293,34735467,33457655,1
4,0,2,2,3,95249099,71878933,7891294,34745467,43457655,1
5,1,0,0,4,94249099,74878933,7891295,34755467,53457655,1
6,1,0,0,4,93249099,77878933,7891296,34765467,63457655,1
7,0,2,2,3,92249099,76878933,7891297,34775467,73457655,1
8,1,1,1,5,91249099,70878933,7891298,34785467,83457655,1
9,1,0,0,0,4111111111111111,5500000000000004,340000000000009,4111111111111111,30000000000004,0
10,1,1,1,1,4111111111111121,5500000000000014,340000000000019,4111111111111121,30000000000004,0
11,1,0,0,0,4111111111111131,5500000000000024,340000000000029,4111111111111131,30000000000004,0
12,1,1,1,1,4111111111111141,5500000000000034,340000000000039,4111111111111141,30000000000004,0
13,0,2,2,2,4111111111111151,5500000000000044,340000000000049,4111111111111151,30000000000004,0
14,1,0,0,0,4111111111111161,5500000000000054,340000000000059,4111111111111161,30000000000004,0
15,1,0,0,0,4111111111111171,5500000000000064,340000000000069,4111111111111171,30000000000004,0
16,0,2,2,2,4111111111111181,5500000000000074,340000000000079,4111111111111181,30000000000004,0
17,1,1,1,1,4111111111111191,5500000000000084,340000000000089,4111111111111191,30000000000004,0

In [146]:
# Prediction
x_test = Variable(torch.from_numpy(np.array(features_test))).float()
pred = model(x_test)

<ipython-input-78-a19cfe637cdc>:11: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  x = F.softmax(self.layer3(x)) # To check with the loss function

In [149]:
pred

tensor([[0., 1., 0.],
        [0., 1., 0.],
        [1., 0., 0.],
        [1., 0., 0.],
        [1., 0., 0.]], grad_fn=<SoftmaxBackward>)

In [150]:
pred = pred.detach().numpy()

In [151]:
pred

array([[0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]], dtype=float32)

In [180]:
np.argmax(model(x_test[2]).detach().numpy(), axis=0)

<ipython-input-78-a19cfe637cdc>:11: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  x = F.softmax(self.layer3(x)) # To check with the loss function

0

In [176]:
row=torch.Tensor( [       1,        0,        0,        4, 94249099, 74878933,
         7891295, 34755467, 53457655])
np.argmax(model(row).detach().numpy(), axis=0)

<ipython-input-78-a19cfe637cdc>:11: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  x = F.softmax(self.layer3(x)) # To check with the loss function

0

In [166]:
features_test

array([[       1,        0,        0,        4, 99249099, 75878933,
         7891291, 34705467,  3457655],
       [       1,        1,        1,        5, 98249099, 78878933,
         7891290, 34715467, 13457655],
       [       1,        1,        1,        5, 91249099, 70878933,
         7891298, 34785467, 83457655],
       [       1,        0,        0,        4, 94249099, 74878933,
         7891295, 34755467, 53457655],
       [       1,        1,        1,        4, 96249099, 72878933,
         7891293, 34735467, 33457655]])